.App{
  position: relative;
}

.credit{
  position: absolute;
    width: 287px;
    height: 17px;
    left: 576px;
    top: 1039px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  
    /* identical to box height */
    text-align: center;
  
    color: #A9A9A9;
}

.image-uploader-container {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 402px;
  height: 469px;
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.drag-drop-container {
  width: 338px;
  height: 218.9px;
  background: #F6F8FB;
  border: 1px dashed #97BEF4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37.26px;
  z-index: 10;
}

.drag-drop-container.dragging {
  border: 1px solid gray;
  background: rgb(198, 189, 189);
}

.drag-drop-container.dragging .drag-drop-text {
  color: white;
}

.logo {
  z-index: -1;
}

.choose-file-btn {
  background: #2F80ED;
  border-radius: 8px;
  font-family: 'Noto Sans' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
}

.sub-title {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;

  /* Gray 3 */
  color: #828282;
}

.uploading {
  width: 400.36px;
  height: 143.57px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding-left: 32px;
  padding-right: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.uploading-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  /* identical to box height */
  letter-spacing: -0.035em;

  /* Gray 2 */
  color: #4F4F4F;
}

.loading {
  background-color: #eee;
  width: 100%;
  height: 6px;
  background: #F2F2F2;
  border-radius: 8px;
  position: relative;
  margin-top: 31px;
  overflow: hidden;
}

.loading:after {
  position: absolute;
  content: '';
  left: -30px;
  width: 100.93px;
  height: 6px;

  background: #2F80ED;
  border-radius: 8px;
  animation: bar2 linear 2s infinite;
}

@keyframes bar2 {
  0% {
    left: -30px;
  }

  100% {
    left: 100%;
  }
}

.drag-drop-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  line-height: 18px;
  z-index: -1;
  /* identical to box height */
  letter-spacing: -0.035em;

  /* Gray 4 */
  color: #BDBDBD;
}


.or {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;

  /* Gray 4 */
  color: #BDBDBD;
}

.uploaded-image-preview {
  width: 400.36px;
  min-height: 454.96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  gap: 26px;
  padding-left: 32px;
  padding-right: 32px;
}

.uploaded-image-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.check-icon {
  color: #219653;
  height: 35px;
  width: 35px;
}



.uploaded-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;

  /* Gray 2 */
  color: #4F4F4F;
}

.uploaded-image {
  width: 100%;
}

.uploaded-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F6F8FB;
  height: 34px;
  /* Gray 5 */
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  width: 100%;
  padding-left: 11px;
  padding-right: 2px;
}

.uploaded-link-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 75%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;

  /* Gray 2 */
  color: #4F4F4F;
  /* some width */
}

.copy-btn {
  width: 74px;
  height: 30px;
  left: 813px;
  top: 698.03px;

  /* Blue 1 */
  background: #2F80ED;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;

  outline: none;
  border: none;

  cursor: pointer;

  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;

  color: #FFFFFF;
}

.copy-btn.copied{
  background: #219653;
}
